<nav class="navbar color-theme">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
      </div>
      <div class="col text-center">
        <a [routerLink]="'../home/play-create'"><span class="adio">adio</span></a>
      </div>
      <div class="col links justify-content-end">
          <a [routerLink]="'../home/profile'"><mat-icon> person</mat-icon></a>
          <a [routerLink]="''"><mat-icon>exit_to_app</mat-icon></a> <!-- TODO: add logout functionality - erase user data etc.-->
      </div>
    </div>
  </div>
  </nav>
